.button-grid {
  padding-bottom: 1em;
  display: grid;
  grid-gap: 10px;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
button {
  border: 5px solid #555;
  border-radius: 2px;
  background: white;
  padding: 1rem 2rem;
  text-decoration: none;
  font-size: 1em;
  transition: color 200ms;
  display: grid;
  justify-content: center;
}

button:hover {
  color: white;
  background: #555;
}
