html {
  box-sizing: border-box;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 12px;
}

body {
  margin: 50px;
  line-height: 1.5;
  text-align: center;
  font-size: 2em;
  color: #555;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

h1,
h2,
strong {
  color: #333;
}

input {
  width: 80%;
  padding: 10px 10px;
  box-sizing: border-box;
  font-size: 1em;
  color: #555;
}

.container {
  display: grid;
  grid-gap: 20px;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.react-datepicker {
  font-size: 1.3rem !important;
}

.react-datepicker__current-month {
  font-size: 1.5rem !important;
}

.react-datepicker__header {
  padding-top: 6px !important;
}

.react-datepicker__navigation {
  top: 13px !important;
}

.react-datepicker__day-name,
.react-datepicker__day {
  margin: 0.5rem !important;
}
