html {
  box-sizing: border-box;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 10px;
}

body {
  margin: 0 auto;
  line-height: 1.5;
  text-align: center;
  font-size: 2em;
  color: #555;
  width: min(80%, 1000px);
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
strong {
  color: #333;
  padding: 0.5em 0 0.5em;
}

input {
  width: 60%;
  padding: 10px 10px;
  box-sizing: border-box;
  font-size: 1em;
  color: #555;
}

.react-datepicker {
  font-size: 1.3rem !important;
}

.react-datepicker__current-month {
  font-size: 1.5rem !important;
}

.react-datepicker__header {
  padding-top: 6px !important;
}

.react-datepicker__navigation {
  top: 13px !important;
  transform: scale(1.5);
}

.react-datepicker__day-name,
.react-datepicker__day {
  margin: 0.5rem !important;
}

.react-datepicker__close-icon {
  padding-right: 20px !important;
}

.react-datepicker__close-icon::after {
  background-color: rgb(132, 132, 132) !important;
}
