html {
  box-sizing: border-box;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 12px;
}

body {
  margin: 0 auto;
  line-height: 1.5;
  text-align: center;
  font-size: 2em;
  color: #555;
  width: min(80%, 1000px);
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

h1,
h2,
strong {
  color: #333;
  padding: 0.5em 0 0.5em;
}

input {
  width: 80%;
  padding: 10px 10px;
  box-sizing: border-box;
  font-size: 1em;
  color: #555;
}

.container {
  display: grid;
  grid-gap: 20px;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
